body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    height: 80px;
    background-color: lightgray;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;
}

.navbar a:hover {
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

.main-content-about {
    height: auto;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: lightgray;
}

.main-content-contact {
    height: 100vh;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 100px;
    background-color: lightgray;
}

.main-content-contact p {
    font-size: x-large;
}

.main-content-contact ul li a {
    font-size: xx-large;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

.image-container {
 width: 47%;
 height: 100%;
}

.dummy-image {
    width: 100%;
    height: 100%;
}

.name-container {
    width: 53%;
    padding-right: 100px;
}

.name-container h1 {
    text-align: right;
    color: black;
}

.about-text p {
    font-size: x-large;
    line-height: 35px;
}

.skills {
    margin-right: 100px;
}

.skills ul li {
    font-size: x-large;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}